Q1. What is a database? Differentiate between SQL and NoSQL databases.

 A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, management, and manipulation of information.
 
 SQL (Structured Query Language) databases are based on the relational model. They use tables to store data, where each row represents a record and each column represents a data field. Some popular SQL databases include MySQL, PostgreSQL, Oracle, and Microsoft SQL Server.
 
 WHERE AS 
 
 NoSQL (Not Only SQL) databases are a broad category of databases that offer flexible data models and are generally designed for horizontal scalability and high availability.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define and manage the structure of a database, including creating, modifying, and deleting database objects like tables, indexes, and constraints.

CREATE:
The CREATE statement is used to create new database objects such as tables, indexes, or views. 

DROP:
The DROP statement is used to remove existing database objects such as tables, indexes, or views. Be cautious when using DROP, as it permanently deletes the object and its data. 

ALTER:
The ALTER statement is used to modify the structure of an existing database object. It allows you to add, modify, or delete columns from a table, change data types, or add constraints.

TRUNCATE:
The TRUNCATE statement is used to remove all data from a table, but unlike DROP, it does not delete the table structure itself. It is a faster and more efficient way to delete all records from a table when compared to using DELETE with no WHERE clause.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stand for data manipulation language, it is a subset of the SQL, it mainly focuses on add , delete or alteration f data within the table itself.

INSERT:
The INSERT statement is used to add new records (rows) into a table. It allows you to specify the values for each column or insert data from another table.

UPDATE:
The UPDATE statement is used to modify existing records within a table. It allows you to change the values of specific columns based on certain conditions.

DELETE:
The DELETE statement is used to remove one or more records from a table based on specified conditions. Be cautious when using DELETE, as it permanently removes data from the table.

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve and manipulate data from a database. DQL focuses on the SELECT statement, which allows you to query the database and fetch specific information based on specified criteria.

The SELECT query is basically used for selection of specific data , it can be used in many ways as per the need of the data to be selcted, we can select and show the entier data or we can select and show it coloumn wise.

Q5. Explain Primary Key and Foreign Key.

A Primary Key is a column or a combination of columns in a table that uniquely identifies each row (record) in that table. It serves as a unique identifier for each record, and no two records can have the same primary key value within the table.

A Foreign Key is a column or a combination of columns in a table that establishes a link between data in two tables. It represents a relationship between two tables, where the foreign key in one table refers to the primary key of another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Connect to MySQL
connection = mysql.connector.connect(
    host="your_host",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Create a cursor object
cursor = connection.cursor()

# Execute a query
query = "SELECT * FROM your_table;"
cursor.execute(query)

# Fetch and print the results
result = cursor.fetchall()
for row in result:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()

cursor():

The cursor() method creates a cursor object that allows you to interact with the MySQL database.

execute():

The execute() method is used to execute SQL queries or statements on the database through the cursor object.

Q7. Give the order of execution of SQL clauses in an SQL query.

SELECT: The SELECT clause is used to specify which columns you want to retrieve from the database.

FROM: The FROM clause indicates the table or tables from which the data should be retrieved. It establishes the data source for the query.

WHERE: The WHERE clause is used to filter the rows based on specified conditions. It allows you to narrow down the data to only include rows that meet the given criteria.

GROUP BY: The GROUP BY clause is used to group rows based on specified columns. It is often used in combination with aggregate functions like COUNT, SUM, AVG, etc.

HAVING: The HAVING clause filters the grouped rows based on aggregate conditions. It is similar to the WHERE clause but is used with GROUP BY to filter aggregated results.

ORDER BY: The ORDER BY clause is used to sort the result set based on specified columns. It allows you to control the order in which the rows are returned.

LIMIT/OFFSET: The LIMIT clause (sometimes used with OFFSET) is used to restrict the number of rows returned in the result set. It is often used for pagination or to limit the query result to a specific number of rows.