Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a="hello"
b=[1,2,3,4,5,6,7]
c=9.41
d=(28,29)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [3]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [5]:
# / (Division)
a=10
b=5
c=a/b
print(c)

# %(Mod) used to find remainder after division

d=a%b
print(d)

# //(floor division) gives the absolute value of the division
f=5.2
g=4.5
e=f//g
print(e)

# **(exponent)

h=a**b
print(h)

2.0
0
1.0
100000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [7]:
a=[1,2,3,4,5,'hi',5.6,[4,3,2],(6,7),'hello']
for i in a:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
hi
<class 'str'>
5.6
<class 'float'>
[4, 3, 2]
<class 'list'>
(6, 7)
<class 'tuple'>
hello
<class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [12]:
A=int(input())
B=int(input())
count=0
while(A>0):
    if(A%B==0):
        A-=B
        count+=1
if(A%B==0):
    print("Yes A is purly divisible by B")        
print(count)

10
5
Yes A is purly divisible by B
2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [18]:
A=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in A:
    print(i)
    if(i%3==0):
        print("Yes")
    else:
        print("No")

1
No
2
No
3
Yes
4
No
5
No
6
Yes
7
No
8
No
9
Yes
10
No
11
No
12
Yes
13
No
14
No
15
Yes
16
No
17
No
18
Yes
19
No
20
No
21
Yes
22
No
23
No
24
Yes
25
No

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [19]:
# Mutable objects are those whose individual elements can be changed or appended for example lists are mutable i.e their elements can be changed
A=[1,2,3,4]
print(A)
A.append(5)
print(A)
# as you can see we added an element at the end of the list

[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [20]:
#Imutable objects are those which once created, their elements cannot be changed, for example in a string , we cannot change a single character of the string , it can changed entierly but a single element cannot be changed.
A="hello"
print(A)
A[2]='a'
print(A)
# see it will show an error.

hello

TypeError: 'str' object does not support item assignment